<div>
  <ul class="tabs">
    <li class="tab">
      <a class="home-btn" [routerLink]="['/about']" routerLinkActive="router-link-active" ><i class="fa fa-home" aria-hidden="true"></i></a>
    </li>
    <li class="tab"><a [routerLink]="['/skills']" routerLinkActive="router-link-active" >SKILLS</a></li>
    <li class="tab"><a [routerLink]="['/portfolio']" routerLinkActive="router-link-active" >PORTFOLIO</a></li>
    <li class="tab"><a [routerLink]="['/contact']" routerLinkActive="router-link-active" >CONTACT ME</a></li>
  </ul>
</div>