<div class="center-text">
  <div class="image-cropper">
    <img src="assets/juani.jpg" class="rounded" />
  </div>
  <div>
    <p><strong>Juan Ignacio Cangelosi</strong></p>
    <p>Front End Developer</p>
  </div>
  <hr>
  <p i18n="@@ageParagraph">Edad: 23 Años</p>
  <p i18n="@@cityParagraph">Ciudad: Bahía Blanca, Buenos Aires, Argentina.</p>
  <p i18n="@@dobParagraph">Fecha de Nacimiento: 14/08/1995</p>
  <p i18n="@@studiesParagraph">Estudios: Ingeniería en Sistemas de Información (UNS)</p>
  <hr>
  <h5 i18n="@@contactHeader">Contacto</h5>
  <ul class="info-list">
    <li><i class="fas fa-envelope"></i><a href="mailto:juani.cangelosi@gmail.com">juani.cangelosi@gmail.com</a></li>
    <li><i class="fab fa-whatsapp-square"></i><a href="tel:+542914621662">+54 2914621662</a></li>
    <li><i class="fab fa-linkedin"></i><a href="https://www.linkedin.com/in/juan-ignacio-cangelosi/">juan-ignacio-cangelosi</a></li>
    <li><i class="fab fa-github-square"></i><a href="https://github.com/JuanCangelosi">JuanCangelosi</a></li>
  </ul>
</div>