<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">
    <div class="flex-container">
        <div class="card">
            <cv-contact-info></cv-contact-info>
        </div>
        <div class="main-container">
            <div class="col-container">
                <div class="card">
                    <cv-header></cv-header>
                </div>
                <div class="card">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
</div>